<h2>Registrovat</h2>

{snippet}
	{if $registrationSuccessful === FALSE}
		{control form}
	{/if}

	{ifset $setup}
		{$setup}
	{/ifset}
{/snippet}

{*{form form, class => ajax}*}
	{*<div>{label password /}</div>*}
	{*<div>{input password}</div>*}
{*{/form}*}
